body
{
    margin : 0px;
    box-sizing: border-box;
}
.footer
{
    background-color: black;
    height: 300px;
    width : 100%;
    padding: 20px;

}

.icon-container
{
    display: flex;
    gap : 20px;
    justify-content: center;
    align-items: center;
    
}
.icon-footer
{
  height: 24px;
  width: 24px;
  fill: gray;
}
.footer-container li
{
    list-style-type: none;
    color: gray;
}
.company-container
{
    display: flex;
    flex-direction: column;
    gap : 10px;
    font-size: 20px;
}
.legal
{
    display: flex;
    flex-direction: column;
    gap : 10px;
    font-size: 20px;
}
.footer-container
{
    display: flex;
    gap : 20px;
    margin-top : 30px;
    justify-content: center;
    }
    .copy-container{
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 30px;
    }
    hr{
        border: 0.5px solid gray;
        margin: 20px 0px;
    }
.copyright
{

    color : gray;
    font-size: 20px;
}

.highlight li
{
    color: white;
}
   
