body
{
    margin : 0px;
    box-sizing: border-box;
    background-color: lightgray;

}
header{
    background-color: black;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    gap : 25px;
    justify-content: center;
    align-items: center;
    height: 75px;
    color : white;

    
    
}
.navbar ul{
   
    display: flex;
    flex-direction: row;
    gap : 20px;
    justify-content: space-around;
    align-content: center;

}
.navbar li{
    list-style-type: none;
    font-size: 20px;
}
.navbar li:hover{
    cursor:pointer;
    color:cyan
}
.search-bar{
    flex: 1; 
  display: flex;
  align-items: center;
  max-width: 600px; 
  padding: 10px 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f5f5f6;
}
.search-icon {
    height: 20px;
    width: 20px;
    fill : gray;
}
.search-bar input{
    border: none;
    outline: none;
    background:transparent;
    margin-left : 8px;
    width: 100%;
    font-size: 14px;

}
.icons{
    display: flex;
    flex-direction: row;
    gap : 20px;
}
.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icons .icon:hover{
    cursor: pointer;
    color : cyan;
}
.footer
{
    background-color: black;
    height: 300px;
    
    padding: 20px;

}

.icon-container
{
    display: flex;
    gap : 20px;
    justify-content: center;
    align-items: center;
    
}
.icon-footer
{
  height: 24px;
  width: 24px;
  fill: gray;
}
.footer-container li
{
    list-style-type: none;
    color: gray;
}
.company-container
{
    display: flex;
    flex-direction: column;
    gap : 10px;
    font-size: 20px;
}
.legal
{
    display: flex;
    flex-direction: column;
    gap : 10px;
    font-size: 20px;
}
.footer-container
{
    display: flex;
    gap : 20px;
    margin-top : 30px;
    justify-content: center;
    }
    .copy-container{
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 30px;
    }
    hr{
        border: 0.5px solid gray;
        margin: 20px 0px;
    }
.copyright
{

    color : gray;
    font-size: 20px;
}

.highlight li
{
    color: white;
}
.product-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    flex : 25%;
    
}
.product-card{
    
    background: #fff;
    cursor : pointer;
    margin : 20px;
}
.img-container{
    width:100%;
    height: 280px;
    overflow:hidden;
}
.img-container img{
    width:100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.product-info{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap : 5px;
}
.brand{
    font-size:14px;
    font-weight: 600;
    
}
.desc{
    color : gray;
}
.price{
    display: flex;
    flex-direction: row;
    gap : 3px;
}
.final{
    font-weight: 700;
}
.original{
    color : gray;
}
.discount{
    color : #ffad8d;
}
@media screen and (max-width:480px){
    .container {
        height: auto;
        flex-wrap: wrap;
    }
    .navbar{
        width: 100%;
        justify-content: center;;
    }
    .product-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (min-width:481px) and (max-width:768px){
    .container {
        height: auto;
        flex-wrap: wrap;
    }
    .navbar{
        flex-basis: 100%;
        justify-content: center;;
    }
}