body
{
    margin : 0px;
    box-sizing: border-box;
}
.footer
{
    background-color: black;
    height: 300px;
    width : 100%;
    padding: 20px;
}

.icon-container
{
    display: flex;
    gap : 20px;
    
}
.icon-footer
{
  height: 24px;
  width: 24px;
  fill: gray;
}
.footer-container li
{
    list-style-type: none;
    color: gray;
}
.company-container
{
    display: flex;
    flex-direction: column;
    gap : 10px;
    font-size: 20px;
}
.legal
{
    display: flex;
    flex-direction: column;
    gap : 10px;
    font-size: 20px;
}
.footer-container
{
    display: flex;
    gap : 20px;
    margin-top : 30px;
    
    
}
.copyright
{
    color : gray;
    font-size: 20px;
}

.highlight li
{
    color: white;
}
   
